* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: #dbdbdb;
}

main {
  background: #fff;
  max-width: 550px;
  margin: 0 auto;
}

.header {
  background-color: #f55a5a;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#title {
  color: white;
  font-size: 15px;
}

.card-container {
  max-width: 470px;
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
}

.location {
  display: flex;
  column-gap: 1em;
  font-size: 11px;
}

.location p {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.date {
  margin-bottom: 9px;
  font-weight: bold;
}

h1 {
  font-size: 25px;
  margin-top: 0.2em;
}

p {
  font-size: 11px;
  color: #2b283a;
}

a {
  color: #918e9b;
}

img {
  height: 168px;
  width: 125px;
  border-radius: 5px;
}

.header i {
  color: #fff;
  font-size: 24px;
}

i {
  color: #f55a5a;
  margin-right: 3px;
}
